body {
  padding-top: 50px;
}

.jumbotron-white {
  background-color: transparent;
}

.form-control, .form-group {
  display: inline-block;
  width: auto;
}

#location_latlon {
  display: none;
}

#location {
  autocomplete: "off";
}