{%- extends "base_admin.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
  <div class="container">
    <div class="col-md-12">
	Welcome to admin pages for drop in search!
    </div>
    {{ macros.render_messages() }}
  </div>
{%- endblock %}