{%- extends "base_admin.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
  <div class="container">
    {{ macros.render_messages() }}
    <div class="jumbotron">
      <h1>Event</h1>
      <p>Enter event data</p>
	   <div class="col-md-12">
	     {{form|render_form()}}
	   </div>
    </div>
  </div>
{%- endblock %}