{%- extends "base_admin.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
  <div class="container">
    {{ macros.render_messages() }}
    <div class="jumbotron">
      <h1>Event provider</h1>
      <p>Enter event provider data</p>
	   <div class="col-md-12">
	     {{form|render_form()}}
	   </div>
    </div>
    {% if (provider_key) %}
    <div class="jumbotron">
      <h1>Provider's Events</h1>
       {% for event in events %}
	   <div class="col-md-12">
	   <a href="{{ url_for('.edit_event',key=event.key.id(), parent_key=provider_key.id()) }}">{{ event.key.id() }}</a> - {{ event.type }} - {{ event.link }} - {{ event.start_date }} - {{ event.end_date }}
	   </div>
	   {% else %}
	   <div class="col-md-12">
	   There are no events. 
	   </div>
	   {% endfor %}
	   <a href="{{ url_for('.new_event', provider_key=provider_key.id()) }}">Add new event</a>
    </div>    
    {% endif %}
  </div>
{%- endblock %}