{%- extends "base_admin.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
  <div class="container">
    {{ macros.render_messages() }}
    <div class="jumbotron">
      <h1>Event providers</h1>
       {% for provider in providers %}
	   <div class="col-md-12">
	   <a href="{{ url_for('.edit_provider',key=provider.key.id()) }}">{{ provider.key.id() }}</a> - {{ provider.provider }} - {{ provider.link }}
	   </div>
	   {% else %}
	   <div class="col-md-12">
	   There are no providers. <a href="{{ url_for('.new_provider') }}">Add one</a>
	   </div>
	   {% endfor %}
    </div>
  </div>
{%- endblock %}