{%- extends "base_admin.html" %}

{% block content %}
  <div class="container">
    {{ macros.render_messages() }}
    <div class="jumbotron">
      <h1>All Events</h1>
       {% for event in events %}
	   <div class="col-md-12">
	   <a href="{{ url_for('.edit_event',key=event.key.id(),parent_key=event.key.parent().id()) }}">{{ event.key.id() }}</a> - {{ event.type }} - {{ event.link }}
	   </div>
	   {% else %}
	   <div class="col-md-12">
	   There are no events. Add one from any provider's edit page.
	   </div>
	   {% endfor %}
    </div>
  </div>
{%- endblock %}