{% import "bootstrap/wtf.html" as wtf %}

{%- extends "base.html" %}


{% block content %}
   <div class="container">
      <div class="jumbotron">
        <h1>Signup for our awesome service</h1>
        <p>Note: Your data isn't going anywhere.</p>
      </div>
   <div class="col-md-12">
     {{form|render_form()}}
   </div>
{%- endblock %}