{# This simple template derives from ``base.html``. See ``base.html`` for
   more information about template inheritance. #}
{%- extends "base.html" %}

{# Inside the ``content`` is where you should place most of your own stuff.
   This will keep scripts at the page end and a navbar you add on later
   intact. #}
{% block content %}
  <div class="container">
    {{ macros.render_messages() }}
    <div class="jumbotron">
      <h1>Comming soon</h1>
    </div>
{%- endblock %}